body {
    background-color:#e6dc9e;
}

.title {
    display:flex;
    justify-content:center;

    font-size: 65px;
}

#boardContainer {
    height:960px;
    width:960px;

    border-color:black;
    border-style:solid;

    display:flex;
    flex-flow:row nowrap;
    justify-content:center;

    background-color:white;
}


.container{
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-around;
}

.slideContainer{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}

.filler1{
    width:600px;
    
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items:center;
}
.instructions{
    font-size:40px;
}
.filler2{
    width:600px;
}


.container1 {
    width:1000px;
    height:1000px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
}

.rowItem {
    display:flex;
    flex-flow:column nowrap;
    flex:1;

    border-color:black;
    border-width:1px;
    border-style:none;
}

.columnItem {
    display:flex;
    flex:1;

    border-width:1px;
    border-color:red;
    border-style:none;
}

.drawing1 {
    background-color:#bdbdbd;
}
.drawing2 {
    background-color:#a1a1a1;
}
.drawing3 {
    background-color:#696969;
}
.drawing4 {
    background-color:#303030;
}
.drawing5 {
    background-color:#000000;
}


.slider{
    width:800px;
    height:80px;
}

